/.idea/
/ToNinetyOne.WebApi/bin/
/ToNinetyOne.WebApi/app.db
/ToNinetyOne.WebApi/users.db
/ToNinetyOne.WebApi/obj/
/ToNinetyOne.UserPersistence/bin/
/ToNinetyOne.UserPersistence/obj/
/ToNinetyOne.Persistence/obj/
/ToNinetyOne.Persistence/bin/
/ToNinetyOne.Domain/obj/
/ToNinetyOne.Domain/bin/
/ToNinetyOne.Application/bin/
/ToNinetyOne.Application/obj/
/ToNinetyOne.WebApi/app.db-shm
/ToNinetyOne.WebApi/app.db-wal
/ToNinetyOne.WebApi/users.db-shm
/ToNinetyOne.WebApi/users.db-wal
/ToNinetyOne.Identity/bin/
/ToNinetyOne.Identity/obj/
/ToNinetyOne.IdentityDomain/bin/
/ToNinetyOne.IdentityDomain/obj/
